@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.olive {
    height: 100%;
    width: 200px;
}

.member-name {
    font-family: 'Shadows Into Light', cursive;
    font-size: 23px;
}

.ant-layout-header {
    background: linear-gradient(180deg,#2c7f7488,#2c7f74DD),url("https://uploads-ssl.webflow.com/5e842374296ec15989ab0301/6180960341444a2f14a577e4_5e843036f368a48d090c4edc_back.jpeg") !important;
}

.ant-btn {
    font-family: 'Shadows Into Light', cursive
}

.ant-btn:hover, .ant-btn:focus {
    color: #2c7f74DD;
    border-color: #2c7f74DD;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2c7f74DD;
    border-color: #2c7f74DD;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
    border-color: #2c7f74DD;
}